/*
// generic classes:
	// .flex-container
	// .flex-container-center
	// .flex-container-justify
	// .flex-container-auto
	// .flex-container-center-center
	// .flex-container-center-vjustify
	// .flex-container-corners
	// .flex-container-gallery-centered
	// .flex-container-nav
	// .flex-container-nav-mobile
	// .flex-container-channels,
	// .flex-container.mobile-channels
	// .flex-container-stretch-channels,
	// .flex-container-stretch-mobile-channels
	// .flex-container-updates,
	// .flex-container-mobile-updates
	// .flex-container-stretch-updates,
	// .flex-container-stretch-mobile-updates*/


/*** TOP CLASSES ***/

/*// top-left aligned
// top-left aligned*/
.flex-container,
.flex-container-tl,
.flex-container-tl-lt {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
}

.flex-container-nowrap {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
}


/*// top-center aligned
// top-center -> left-middle*/
.flex-container-center,
.flex-container-tc,
.flex-container-tc-lm {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
}

.flex-vcontainer {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;  
}

.flex-vcontainer-center {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: flex-start;  
}

/*// top-right aligned
// top-right aligned, bottom-left aligned*/
.flex-container-tr,
.flex-container-tr-lb {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: flex-start;
	align-content: flex-start;
}


/*// top-justified aligned
// top-justified aligned, v-justified-left*/
.flex-container-justify,
.flex-container-tj,
.flex-container-tj-lj {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: flex-start;
}


/*// top- space around aligned
// top- space around aligned, v-space around -left*/
.flex-container-auto,
.flex-container-ta,
.flex-container-ta-la {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: flex-start;
}

/*** MIDDLE CLASSES ***/
/*// middle-left
// middle-left to centered-top*/
.flex-container-ml,
.flex-container-ml-ct {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
}

/*// perfectly-centered*/
.flex-container-center-center,
.flex-container-mc,
.flex-container-mc-cm {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: center;
}

/*// vertically-centered on right
// vertically-centered on right -> centered bottom*/
.flex-container-mr,
.flex-container-mr-cb {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: flex-start;
	align-content: center;
}

/*// vertically-centered justified
// vertically-centered justified --> centered, vjustified*/
.flex-container-mj,
.flex-container-mj-cj {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: center;
}

/*// vertically-centered space-around
// vertically-centered space-around --> centered space-around*/
.flex-container-ma,
.flex-container-ma-ca {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: center;
}

/*** BOTTOM CLASSES ***/
/*// bottom-left
// bottom-left -> right-top*/
.flex-container-bl-rt {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-end;
}

/*// bottom-center
// bottom-center -> right-centered*/
.flex-container-bc,
.flex-container-bc-rm {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-end;
}

/*// bottom-right
// bottom-right -> right-bottom*/
.flex-container-br,
.flex-container-br-rb {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: flex-start;
	align-content: flex-end;
}

/*// bottom-justified
// bottom-justified -> right-justified*/
.flex-container-bj,
.flex-container-bj-rj {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: flex-end;
}

/*// bottom-around
// bottom-around -> right space-around*/
.flex-container-ba,
.flex-container-ba-ra {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: flex-end;	
}

/*** JUSTIFIED CLASSES ***/
/*// left vjustified
// left vjustified -> justified top*/
.flex-container-jl,
.flex-container-jl-jt {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: space-between;
}

/*// centered vjustified
// centered vjustified --> middle hjustified*/
.flex-container-center-vjustify,
.flex-container-jc,
.flex-container-jc-jm {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: space-between;	
} 

/*// right vjustified
// right vjustified -> bottom hjustified*/
.flex-container-jr,
.flex-container-jr-jb {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: flex-start;
	align-content: space-between;	
}

/*// h and v justified
// h and v justified -> ""*/
.flex-container-corners,
.flex-container-jj,
.flex-container-jj-jj {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	align-content: space-between;
}

/*// vjustified hspace around
// vjustified hspace around -> hjustified vspace around*/
.flex-container-ja,
.flex-container-ja-ja {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: space-between;
}

/*** AROUND CLASSES ***/
/*// vmargins left
// vmargins left -> vtop hmargins*/
.flex-container-al,
.flex-container-al-at {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: space-around;
}

/*// vmargins centered
// vmargins centered -> vcentered hmargins*/
.flex-container-gallery-centered,
.flex-container-ac,
.flex-container-ac-am {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	align-content: space-around;
}


/*// vmargins right
// vmargins right -> hmargins bottom*/
.flex-container-ar,
.flex-container-ar-ab {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: flex-start;
	align-content: space-around;
}

/*// vmargins hjusttified
// vmargins hjusttified -> hmargins vjustified*/
.flex-container-nav,
.flex-container-nav-mobile {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center; //
	align-content: center;
}

.flex-container-aj,
.flex-container-aj-aj {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center; //
	align-content: space-around;
}

/*// vmargins hmargins
// vmargins hmargins -> ""*/
.flex-container-aa,
.flex-container-aa-aa {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
}

/*// special classes*/
.flex-container-channels,
.flex-container.mobile-channels {
	display: flex; // inline-flex
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	overflow: scroll
}


/*// hlayout first on left, hidden are scrollable stretched
// hlayout first on left, vlayout first on top and stretch*/
.flex-container-stretch-channels,
.flex-container-stretch-mobile-channels {
	display: flex; // inline-flex
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
	overflow: scroll
}

/*// good for updated content, scrollable*/
.flex-container-updates,
.flex-container-mobile-updates {
	display: flex; // inline-flex
	flex-direction: row-reverse;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
	align-content: center;
	overflow: scroll
}

/*// good for updated content, stretched, scrollable*/
.flex-container-stretch-updates,
.flex-container-stretch-mobile-updates {
	display: flex; // inline-flex
	flex-direction: row-reverse;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
	align-content: center;
	overflow: scroll
}


/*// helper container classes*/
.flex-container-nowrap {
	flex-wrap: nowrap;
}

.flex-container-wrap {
	flex-wrap: wrap;
}


/*flex-item classes*/
.flex-item {
	flex-grow: initial;
	order: 0;
	flex: 0 1 auto;
	align-self: auto;
}


.flex-item-grow {
	flex: 1;
}
/*// pushes all siblings furthest left, self furthest right*/
.flex-item-push-left {
	margin-left: auto;
}

/*// pushes all siblings furthest right, self furthest left*/
.flex-item-push-right {
	margin-right: auto;
}

/*// pushes siblings on both sides to edges*/
.flex-item-push-both {
	margin-left: auto;
	margin-right: auto;
}

.flex-item-12,
.flex-item-xs-12 {
	width: calc(100%/12 * 12);
}
.flex-item-11,
.flex-item-xs-11 {
	width: calc(100%/12 * 11);
}
.flex-item-10,
.flex-item-xs-10 {
	width: calc(100%/12 * 10);
}
.flex-item-9,
.flex-item-xs-9 {
	width: calc(100%/12 * 9);
}
.flex-item-8,
.flex-item-xs-8 {
	width: calc(100%/12 * 8);
}
.flex-item-7,
.flex-item-xs-7 {
	width: calc(100%/12 * 7);
}
.flex-item-6,
.flex-item-xs-6 {
	width: calc(100%/12 * 6);
}
.flex-item-5,
.flex-item-xs-5 {
	width: calc(100%/12 * 5);
}
.flex-item-4,
.flex-item-xs-4 {
	width: calc(100%/12 * 4);
}
.flex-item-3,
.flex-item-xs-3 {
	width: calc(100%/12 * 3);
}
.flex-item-2,
.flex-item-xs-2 {
	width: calc(100%/12 * 2);
}
.flex-item-1,
.flex-item-xs-1 {
	width: calc(100%/12);
}


/* max-widths media queries first for collapse classes */
/* under xs devices */
@media screen and (max-width: 34rem) { 
	/* set xs to have initial widths here */
	.flex-item-xs-0 {
		display: none;
	}
}
/* under sm devices */
@media screen and (max-width: 48rem) { 
	.flex-item-sm-0 {
		display: none;
	}
}
/* under md devices */
@media screen and (max-width: 64rem) { 
	.flex-item-md-0 {
		display: none;
	}
}
/* under lg devices */
@media screen and (max-width: 75rem) { 
	.flex-item-lg-0 {
		display: none;
	}
}


/* xs Small devices (landscape phones, 34rem and up) */
@media screen and (min-width: 34rem) { 
	.flex-item-xs-12 {
		width: calc(100%/12 * 12);
	}
	.flex-item-xs-11 {
		width: calc(100%/12 * 11);
	}
	.flex-item-xs-10 {
		width: calc(100%/12 * 10);
	}
	.flex-item-xs-9 {
		width: calc(100%/12 * 9);
	}
	.flex-item-xs-8 {
		width: calc(100%/12 * 8);
	}
	.flex-item-xs-7 {
		width: calc(100%/12 * 7);
	}
	.flex-item-xs-6 {
		width: calc(100%/12 * 6);
	}
	.flex-item-xs-5 {
		width: calc(100%/12 * 5);
	}
	.flex-item-xs-4 {
		width: calc(100%/12 * 4);
	}
	.flex-item-xs-3 {
		width: calc(100%/12 * 3);
	}
	.flex-item-xs-2 {
		width: calc(100%/12 * 2);
	}
	.flex-item-xs-1 {
		width: calc(100%/12);
	}
	/*** set to ng-clip-1x at xs screen size ***/
	.flex-item-xs-1x {
		-webkit-box-flex: 1;
		-webkit-flex-grow: 1;
		    -ms-flex-positive: 1;
		        flex-grow: 1;
		-webkit-flex: 1;
		display: block;	
	}
	/*** set to ng-clip-2x at xs screen size ***/
	.flex-item-xs-2x {
		-webkit-box-flex: 2;
		-webkit-flex-grow: 2;
		    -ms-flex-positive: 2;
		        flex-grow: 2;
		-webkit-flex: 2;
		display: block;	
	}
	/*** set to ng-clip-3x at xs screen size ***/
	.flex-item-xs-3x {
		-webkit-box-flex: 3;
		-webkit-flex-grow: 3;
		    -ms-flex-positive: 3;
		        flex-grow: 3;
		-webkit-flex: 3;
		display: block;	
	}
	/*** set to ng-clip-4x at xs screen size ***/
	.flex-item-xs-4x {
		-webkit-box-flex: 4;
		-webkit-flex-grow: 4;
		    -ms-flex-positive: 4;
		        flex-grow: 4;
		-webkit-flex: 4;
		display: block;	
	}
}

/* sm Medium devices (tablets, 48em and up) */
@media screen and (min-width: 48rem) {
	.flex-item-sm-12 {
		width: calc(100%/12 * 12);
	}
	.flex-item-sm-11 {
		width: calc(100%/12 * 11);
	}
	.flex-item-sm-10 {
		width: calc(100%/12 * 10);
	}
	.flex-item-sm-9 {
		width: calc(100%/12 * 9);
	}
	.flex-item-sm-8 {
		width: calc(100%/12 * 8);
	}
	.flex-item-sm-7 {
		width: calc(100%/12 * 7);
	}
	.flex-item-sm-6 {
		width: calc(100%/12 * 6);
	}
	.flex-item-sm-5 {
		width: calc(100%/12 * 5);
	}
	.flex-item-sm-4 {
		width: calc(100%/12 * 4);
	}
	.flex-item-sm-3 {
		width: calc(100%/12 * 3);
	}
	.flex-item-sm-2 {
		width: calc(100%/12 * 2);
	}
	.flex-item-sm-1 {
		width: calc(100%/12);
	}
	/*** set to ng-clip-1x at sm screen size ***/
	.flex-item-sm-1x {
		-webkit-box-flex: 1;
		-webkit-flex-grow: 1;
		    -ms-flex-positive: 1;
		        flex-grow: 1;
		-webkit-flex: 1;
		display: block;	
	}
	/*** set to ng-clip-2x at sm screen size ***/
	.flex-item-sm-2x {
		-webkit-box-flex: 2;
		-webkit-flex-grow: 2;
		    -ms-flex-positive: 2;
		        flex-grow: 2;
		-webkit-flex: 2;
		display: block;	
	}
	/*** set to ng-clip-3x at sm screen size ***/
	.flex-item-sm-3x {
		-webkit-box-flex: 3;
		-webkit-flex-grow: 3;
		    -ms-flex-positive: 3;
		        flex-grow: 3;
		-webkit-flex: 3;
		display: block;	
	}
	/*** set to ng-clip-4x at sm screen size ***/
	.flex-item-sm-4x {
		-webkit-box-flex: 4;
		-webkit-flex-grow: 4;
		    -ms-flex-positive: 4;
		        flex-grow: 4;
		-webkit-flex: 4;
		display: block;	
	}
}

/* md Large devices (desktops, 62rem and up) */
@media screen and (min-width: 62rem) {
	.flex-item-md-12 {
		width: calc(100%/12 * 12);
	}
	.flex-item-md-11 {
		width: calc(100%/12 * 11);
	}
	.flex-item-md-10 {
		width: calc(100%/12 * 10);
	}
	.flex-item-md-9 {
		width: calc(100%/12 * 9);
	}
	.flex-item-md-8 {
		width: calc(100%/12 * 8);
	}
	.flex-item-md-7 {
		width: calc(100%/12 * 7);
	}
	.flex-item-md-6 {
		width: calc(100%/12 * 6);
	}
	.flex-item-md-5 {
		width: calc(100%/12 * 5);
	}
	.flex-item-md-4 {
		width: calc(100%/12 * 4);
	}
	.flex-item-md-3 {
		width: calc(100%/12 * 3);
	}
	.flex-item-md-2 {
		width: calc(100%/12 * 2);
	}
	.flex-item-md-1 {
		width: calc(100%/12);
	}
	/*** set to ng-clip-1x at sm screen size ***/
	.flex-item-md-1x {
		-webkit-box-flex: 1;
		-webkit-flex-grow: 1;
		    -ms-flex-positive: 1;
		        flex-grow: 1;
		-webkit-flex: 1;
		display: block;	
	}
	/*** set to ng-clip-2x at sm screen size ***/
	.flex-item-md-2x {
		-webkit-box-flex: 2;
		-webkit-flex-grow: 2;
		    -ms-flex-positive: 2;
		        flex-grow: 2;
		-webkit-flex: 2;
		display: block;	
	}
	/*** set to ng-clip-3x at sm screen size ***/
	.flex-item-md-3x {
		-webkit-box-flex: 3;
		-webkit-flex-grow: 3;
		    -ms-flex-positive: 3;
		        flex-grow: 3;
		-webkit-flex: 3;
		display: block;	
	}
	/*** set to ng-clip-4x at sm screen size ***/
	.flex-item-md-4x {
		-webkit-box-flex: 4;
		-webkit-flex-grow: 4;
		    -ms-flex-positive: 4;
		        flex-grow: 4;
		-webkit-flex: 4;
		display: block;	
	}
}



/* lg Extra large devices (large desktops, 75rem and up) */
@media screen and (min-width: 75rem) {
	.flex-item-lg-12 {
		width: calc(100%/12 * 12);
	}
	.flex-item-lg-11 {
		width: calc(100%/12 * 11);
	}
	.flex-item-lg-10 {
		width: calc(100%/12 * 10);
	}
	.flex-item-lg-9 {
		width: calc(100%/12 * 9);
	}
	.flex-item-lg-8 {
		width: calc(100%/12 * 8);
	}
	.flex-item-lg-7 {
		width: calc(100%/12 * 7);
	}
	.flex-item-lg-6 {
		width: calc(100%/12 * 6);
	}
	.flex-item-lg-5 {
		width: calc(100%/12 * 5);
	}
	.flex-item-lg-4 {
		width: calc(100%/12 * 4);
	}
	.flex-item-lg-3 {
		width: calc(100%/12 * 3);
	}
	.flex-item-lg-2 {
		width: calc(100%/12 * 2);
	}
	.flex-item-lg-1 {
		width: calc(100%/12);
	}
	/*** set to ng-clip-1x at sm screen size ***/
	.flex-item-lg-1x {
		-webkit-box-flex: 1;
		-webkit-flex-grow: 1;
		    -ms-flex-positive: 1;
		        flex-grow: 1;
		-webkit-flex: 1;
		display: block;	
	}
	/*** set to ng-clip-2x at sm screen size ***/
	.flex-item-lg-2x {
		-webkit-box-flex: 2;
		-webkit-flex-grow: 2;
		    -ms-flex-positive: 2;
		        flex-grow: 2;
		-webkit-flex: 2;
		display: block;	
	}
	/*** set to ng-clip-3x at sm screen size ***/
	.flex-item-lg-3x {
		-webkit-box-flex: 3;
		-webkit-flex-grow: 3;
		    -ms-flex-positive: 3;
		        flex-grow: 3;
		-webkit-flex: 3;
		display: block;	
	}
	/*** set to ng-clip-4x at sm screen size ***/
	.flex-item-lg-4x {
		-webkit-box-flex: 4;
		-webkit-flex-grow: 4;
		    -ms-flex-positive: 4;
		        flex-grow: 4;
		-webkit-flex: 4;
		display: block;	
	}
}




/*// media queries*/
@media all and (orientation: portrait) {
	.flex-container-tl-lt,
	.flex-container-tc-lm,
	.flex-container-tr-lb,
	.flex-container-tj-lj,
	.flex-container-ta-la,
	.flex-container-ml-ct,
	.flex-container-mc-cm,
	.flex-container-mr-cb,
	.flex-container-mj-cj,
	.flex-container-ma-ca,
	.flex-container-bl-rt,
	.flex-container-bc-rm,
	.flex-container-br-rb,
	.flex-container-bj-rj,
	.flex-container-ba-ra,
	.flex-container-jl-jt,
	.flex-container-jc-jm,
	.flex-container-jr-jb,
	.flex-container-jj-jj,
	.flex-container-ja-ja,
	.flex-container-al-at,
	.flex-container-ac-am,
	.flex-container-ar-ab,
	.flex-container-aj-aj,
	.flex-container-aa-aa,
	.flex-container-mobile-channels,
	.flex-container-stretch-mobile-channels {
		flex-direction: column;
	}

	.flex-container-nav-mobile {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-items: stretch;
		align-content: center;
		text-align: center;
	}
	.flex-container-nav-mobile .flex-item-push-left,
	.flex-container-nav-mobile .flex-item-push-right,
	.flex-container-nav-mobile .flex-item-push-both {
		margin-left: 0;
		margin-right: 0;
	}
	
	.flex-container-mobile-updates,
	.flex-container-stretch-mobile-updates {
		flex-direction: column-reverse;
	}
}

/*flex-item classes*/


/* margin and padding classes */
/* margin-top*/
.m-t-0 {
	margin-top: 0rem;
}
.m-t-half {
	margin-top: 0.5rem;
}
.m-t-1 {
	margin-top: 1rem;
}
.m-t-2 {
	margin-top: 2rem;
}
.m-t-3 {
	margin-top: 3rem;
}
.m-t-4 {
	margin-top: 4rem;
}
.m-t-5 {
	margin-top: 5rem;
}
.m-t-6 {
	margin-top: 6rem;
}
.m-t-7 {
	margin-top: 7rem;
}
.m-t-8 {
	margin-top: 8rem;
}
.m-t-9 {
	margin-top: 9rem;
}
.m-t-10 {
	margin-top: 10rem;
}
/* margin-bottom*/
.m-b-0 {
	margin-bottom: 0rem;
}
.m-b-half {
	margin-bottom: 0.5rem;
}
.m-b-1 {
	margin-bottom: 1rem;
}
.m-b-2 {
	margin-bottom: 2rem;
}
.m-b-3 {
	margin-bottom: 3rem;
}
.m-b-4 {
	margin-bottom: 4rem;
}
.m-b-5 {
	margin-bottom: 5rem;
}
.m-b-6 {
	margin-bottom: 6rem;
}
.m-b-7 {
	margin-bottom: 7rem;
}
.m-b-8 {
	margin-bottom: 8rem;
}
.m-b-9 {
	margin-bottom: 9rem;
}
.m-b-10 {
	margin-bottom: 10rem;
}
/* margin-left */
.m-l-0 {
	margin-left: 0rem;
}
.m-l-half {
	margin-left: 0.5rem;
}
.m-l-1 {
	margin-left: 1rem;
}
.m-l-2 {
	margin-left: 2rem;
}
.m-l-3 {
	margin-left: 3rem;
}
.m-l-4 {
	margin-left: 4rem;
}
.m-l-5 {
	margin-left: 5rem;
}
.m-l-6 {
	margin-left: 6rem;
}
.m-l-7 {
	margin-left: 7rem;
}
.m-l-8 {
	margin-left: 8rem;
}
.m-l-9 {
	margin-left: 9rem;
}
.m-l-10 {
	margin-left: 10rem;
}
/* margin-right */
.m-r-0 {
	margin-right: 0rem;
}
.m-r-half {
	margin-right: 0.5rem;
}
.m-r-1 {
	margin-right: 1rem;
}
.m-r-2 {
	margin-right: 2rem;
}
.m-r-3 {
	margin-right: 3rem;
}
.m-r-4 {
	margin-right: 4rem;
}
.m-r-5 {
	margin-right: 5rem;
}
.m-r-6 {
	margin-right: 6rem;
}
.m-r-7 {
	margin-right: 7rem;
}
.m-r-8 {
	margin-right: 8rem;
}
.m-r-9 {
	margin-right: 9rem;
}
.m-r-10 {
	margin-right: 10rem;
}
/* margins top and bottom */
.m-y-0 {
	margin-top: 0rem;
	margin-bottom: 0rem;
}
.m-y-half {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
.m-y-1 {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.m-y-2 {
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.m-y-3 {
	margin-top: 3rem;
	margin-bottom: 3rem;
}
.m-y-4 {
	margin-top: 4rem;
	margin-bottom: 4rem;
}
.m-y-5 {
	margin-top: 5rem;
	margin-bottom: 5rem;
}
.m-y-6 {
	margin-top: 6rem;
	margin-bottom: 6rem;
}
.m-y-7 {
	margin-top: 7rem;
	margin-bottom: 7rem;
}
.m-y-8 {
	margin-top: 8rem;
	margin-bottom: 8rem;
}
.m-y-9 {
	margin-top: 9rem;
	margin-bottom: 9rem;
}
.m-y-10 {
	margin-top: 10rem;
	margin-bottom: 10rem;
}
 /*margins left and right*/
.m-x-0 {
	margin-left: 0rem;
	margin-right: 0rem;
}
.m-x-half {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
.m-x-1 {
	margin-left: 1rem;
	margin-right: 1rem;
}
.m-x-2 {
	margin-left: 2rem;
	margin-right: 2rem;
}
.m-x-3 {
	margin-left: 3rem;
	margin-right: 3rem;
}
.m-x-4 {
	margin-left: 4rem;
	margin-right: 4rem;
}
.m-x-5 {
	margin-left: 5rem;
	margin-right: 5rem;
}
.m-x-6 {
	margin-left: 6rem;
	margin-right: 6rem;
}
.m-x-7 {
	margin-left: 7rem;
	margin-right: 7rem;
}
.m-x-8 {
	margin-left: 8rem;
	margin-right: 8rem;
}
.m-x-9 {
	margin-left: 9rem;
	margin-right: 9rem;
}
.m-x-10 {
	margin-left: 10rem;
	margin-right: 10rem;
}
/*  all margins */
.m-a-0 {
	margin-top: 0rem;
	margin-bottom: 0rem;
	margin-left: 0rem;
	margin-right: 0rem;
}
.m-a-half {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
.m-a-1 {
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: 1rem;
	margin-right: 1rem;
}
.m-a-2 {
	margin-top: 2rem;
	margin-bottom: 2rem;
	margin-left: 2rem;
	margin-right: 2rem;
}
.m-a-3 {
	margin-top: 3rem;
	margin-bottom: 3rem;
	margin-left: 3rem;
	margin-right: 3rem;
}
.m-a-4 {
	margin-top: 4rem;
	margin-bottom: 4rem;
	margin-left: 4rem;
	margin-right: 4rem;
}
.m-a-5 {
	margin-top: 5rem;
	margin-bottom: 5rem;
	margin-left: 5rem;
	margin-right: 5rem;
}
.m-a-6 {
	margin-top: 6rem;
	margin-bottom: 6rem;
	margin-left: 6rem;
	margin-right: 6rem;
}
.m-a-7 {
	margin-top: 7rem;
	margin-bottom: 7rem;
	margin-left: 7rem;
	margin-right: 7rem;
}
.m-1-8 {
	margin-top: 8rem;
	margin-bottom: 8rem;
	margin-left: 8rem;
	margin-right: 8rem;
}
.m-a-9 {
	margin-top: 9rem;
	margin-bottom: 9rem;
	margin-left: 9rem;
	margin-right: 9rem;
}
.m-a-10 {
	margin-top: 10rem;
	margin-bottom: 10rem;
	margin-left: 10rem;
	margin-right: 10rem;	
}
/* padding-top*/
.p-t-0 {
	padding-top: 0rem;
}
.p-t-half {
	padding-top: 0.5rem;
}
.p-t-1 {
	padding-top: 1rem;
}
.p-t-2 {
	padding-top: 2rem;
}
.p-t-3 {
	padding-top: 3rem;
}
.p-t-4 {
	padding-top: 4rem;
}
.p-t-5 {
	padding-top: 5rem;
}
.p-t-6 {
	padding-top: 6rem;
}
.p-t-7 {
	padding-top: 7rem;
}
.p-t-8 {
	padding-top: 8rem;
}
.p-t-9 {
	padding-top: 9rem;
}
.p-t-10 {
	padding-top: 10rem;
}
/* padding-bottom */
.p-b-0 {
	padding-bottom: 0rem;
}
.p-b-half {
	padding-bottom: 0.5rem;
}
.p-b-1 {
	padding-bottom: 1rem;
}
.p-b-2 {
	padding-bottom: 2rem;
}
.p-b-3 {
	padding-bottom: 3rem;
}
.p-b-4 {
	padding-bottom: 4rem;
}
.p-b-5 {
	padding-bottom: 5rem;
}
.p-b-6 {
	padding-bottom: 6rem;
}
.p-b-7 {
	padding-bottom: 7rem;
}
.p-b-8 {
	padding-bottom: 8rem;
}
.p-b-9 {
	padding-bottom: 9rem;
}
.p-b-10 {
	padding-bottom: 10rem;
}
/* padding-left */
.p-l-0 {
	padding-left: 0rem;
}
.p-l-half {
	padding-left: 0.5rem;
}
.p-l-1 {
	padding-left: 1rem;
}
.p-l-2 {
	padding-left: 2rem;
}
.p-l-3 {
	padding-left: 3rem;
}
.p-l-4 {
	padding-left: 4rem;
}
.p-l-5 {
	padding-left: 5rem;
}
.p-l-6 {
	padding-left: 6rem;
}
.p-l-7 {
	padding-left: 7rem;
}
.p-l-8 {
	padding-left: 8rem;
}
.p-l-9 {
	padding-left: 9rem;
}
.p-l-10 {
	padding-left: 10rem;
}
/* padding-right */
.p-r-0 {
	padding-right: 0rem;
}
.p-r-half {
	padding-right: 0.5rem;
}
.p-r-1 {
	padding-right: 1rem;
}
.p-r-2 {
	padding-right: 2rem;
}
.p-r-3 {
	padding-right: 3rem;
}
.p-r-4 {
	padding-right: 4rem;
}
.p-r-5 {
	padding-right: 5rem;
}
.p-r-6 {
	padding-right: 6rem;
}
.p-r-7 {
	padding-right: 7rem;
}
.p-r-8 {
	padding-right: 8rem;
}
.p-r-9 {
	padding-right: 9rem;
}
.p-r-10 {
	padding-right: 10rem;
}
/* padding top and bottom */
.p-y-0 {
	padding-top: 0rem;
	padding-bottom: 0rem;
}
.p-y-half {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.p-y-1 {
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.p-y-2 {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.p-y-3 {
	padding-top: 3rem;
	padding-bottom: 3rem;
}
.p-y-4 {
	padding-top: 4rem;
	padding-bottom: 4rem;
}
.p-y-5 {
	padding-top: 5rem;
	padding-bottom: 5rem;
}
.p-y-6 {
	padding-top: 6rem;
	padding-bottom: 6rem;
}
.p-y-7 {
	padding-top: 7rem;
	padding-bottom: 7rem;
}
.p-y-8 {
	padding-top: 8rem;
	padding-bottom: 8rem;
}
.p-y-9 {
	padding-top: 9rem;
	padding-bottom: 9rem;
}
.p-y-10 {
	padding-top: 10rem;
	padding-bottom: 10rem;
}
/* padding left and right */
.p-x-0 {
	padding-left: 0rem;
	padding-right: 0rem;
}
.p-x-half {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
.p-x-1 {
	padding-left: 1rem;
	padding-right: 1rem;
}
.p-x-2 {
	padding-left: 2rem;
	padding-right: 2rem;
}
.p-x-3 {
	padding-left: 3rem;
	padding-right: 3rem;
}
.p-x-4 {
	padding-left: 4rem;
	padding-right: 4rem;
}
.p-x-5 {
	padding-left: 5rem;
	padding-right: 5rem;
}
.p-x-6 {
	padding-left: 6rem;
	padding-right: 6rem;
}
.p-x-7 {
	padding-left: 7rem;
	padding-right: 7rem;
}
.p-x-8 {
	padding-left: 8rem;
	padding-right: 8rem;
}
.p-x-9 {
	padding-left: 9rem;
	padding-right: 9rem;
}
.p-x-10 {
	padding-left: 10rem;
	padding-right: 10rem;
}
/* all padding*/
.p-a-0 {
	padding-top: 0rem;
	padding-bottom: 0rem;
	padding-left: 0rem;
	padding-right: 0rem;
}
.p-a-half {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
.p-a-1 {
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
}
.p-a-2 {
	padding-top: 2rem;
	padding-bottom: 2rem;
	padding-left: 2rem;
	padding-right: 2rem;
}
.p-a-3 {
	padding-top: 3rem;
	padding-bottom: 3rem;
	padding-left: 3rem;
	padding-right: 3rem;
}
.p-a-4 {
	padding-top: 4rem;
	padding-bottom: 4rem;
	padding-left: 4rem;
	padding-right: 4rem;
}
.p-a-5 {
	padding-top: 5rem;
	padding-bottom: 5rem;
	padding-left: 5rem;
	padding-right: 5rem;
}
.p-a-6 {
	padding-top: 6rem;
	padding-bottom: 6rem;
	padding-left: 6rem;
	padding-right: 6rem;
}
.p-a-7 {
	padding-top: 7rem;
	padding-bottom: 7rem;
	padding-left: 7rem;
	padding-right: 7rem;
}
.p-1-8 {
	padding-top: 8rem;
	padding-bottom: 8rem;
	padding-left: 8rem;
	padding-right: 8rem;
}
.p-a-9 {
	padding-top: 9rem;
	padding-bottom: 9rem;
	padding-left: 9rem;
	padding-right: 9rem;
}
.p-a-10 {
	padding-top: 10rem;
	padding-bottom: 10rem;
	padding-left: 10rem;
	padding-right: 10rem;	
}